/target/
.DS_Store
.idea/libraries/Maven__com_approvaltests_approvaltests_2_0_0.xml
.idea/libraries/Maven__com_approvaltests_approvaltests_util_2_0_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_2.xml
.idea/libraries/Maven__io_qameta_allure_allure_java_commons_2_13_6.xml
.idea/libraries/Maven__io_qameta_allure_allure_model_2_13_6.xml
.idea/libraries/Maven__io_qameta_allure_allure_testng_2_13_6.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_10.xml
.idea/libraries/Maven__org_apache_tika_tika_core_1_24_1.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_1_3_72.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_72.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_72.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_3_72.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_test_1_3_72.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_test_common_1_3_72.xml
.idea/libraries/Maven__org_jooq_joor_java_8_0_9_13.xml
.idea/libraries/Maven__uk_co_mwtestconsultancy_selenium_to_restassured_0_3.xml


allure-results/*
.idea/misc.xml
*.iml
